img {
    left: 50px;
    margin: auto;
    height: 70px;
    width: 150px;
}
h1 {
    top: 0px;
}
.block {
    left: 0px;
    margin: auto;
}

body {
    background-image: url(/пикчи/фон2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: padding-box;
    width: 100vw;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 25em;
    
}
p {
    color: blue;
    font-size: 50px;
}p2 {
    color: blue;
    font-size: 50px;
}
p3 {
    color: blue;
    font-size: 25px;
}

button {
    margin-left: 400px;
    margin-right: auto;
    margin-top: 100px;
    width: 20em;
}

